* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #846a38;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    transition: all 0.5s ease;


}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-between;

}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
    margin-top: 20px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar li a:hover {
    color: #0e0d0a;
}

 .btn-primary {
    background-color: #d3d1c8;
    color: #0e0d0a;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    float: right;
}

.btn-primary:hover {
    background-color: #0e0d0a;
    color: #d3d1c8;
}

.container{
    margin: auto;
    padding: 300px 0;
    text-align: center;
    background-image: url('image/restaurant-hero-CwXqRQyg.jpg');
}

.container h1 {
    font-size: 50px;
    color: #ceb10b;
}

.container p {
    font-size: 20px;
    color: #e6e5e0;
    margin-left: 20vw;
}

.btn-secondary {
    background-color: #c7a719;
    color: #0e0d0a;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-secondary2 {
    background-color: #d3d1c8;
    color: #0e0d0a;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
}

.btn-secondary2:hover {
    background-color: #8e6e0d;
    color: #d3d1c8;
    text-decoration: none;
    text-align: hidden;
}

.content{
    background: var(--snd-bg-color);
    background-color: #f5f5f4a0;
    padding: 50px 20px;
    color:#403030;

}

.content h2 {
    text-align: center;
    font-size: 40px;
    color: #846a38;
    margin-top: 20px;
}

.content p2 {
    font-size: 18px;
    color: #403030;
    text-align: center;
    margin-left: 20vw;
}

.service-list-container {
    display: flex;
    grid-template-columns: repeat(350px, minmax(auto));
    justify-content: center;
    margin-top: 2.3rem;
    gap: 2.3rem;

}

.service-list{
    background: var(--bg-color);
    border-radius: 27px;
    padding: 20px;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
}

.service-list h1 {
    font-size: 25px;
    color: #846a38;
    margin-bottom: 10px;
}

.service-list:hover {
    transform: translateY(-5px) scale(1.04);
    border: 1px solid var(--main-color);
    cursor: pointer;
}



.content2 h1{
    text-align: center;
    font-size: 40px;
    color: #846a38;
    margin-top: 20px;
}

.content2 p2 {
    font-size: 18px;
    color: #403030;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20vw;
}

.card-container{
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     gap: 20px;
     margin-top: 20px;
}


.card{
    background: white;
    color: #403030;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}
.card:hover {
    transform: translateY(-5px) scale(1.04);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card img{
    object-fit: cover;
    border-radius: 27px;
    margin-top: 10px;

}

.btn1 {
    color: rgb(126, 16, 16);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.btn1:hover {
    background-color: #c2a110;
    color: #0e0d0a;
}




.btn2 {
     background: var(--snd-bg-color);
    background-color: #f5f5f4a0;
    padding: 50px 20px;
}

.btn2 h2{
    text-align: center;
    font-size: 40px;
    color: #846a38;
    margin-top: 20px;
}

.btn2 p{
     font-size: 18px;
    color: #403030;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 2vw;
}

.cardbody {
    background: var(--bg-color);
    border-radius: 27px;
    padding: 20px;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.cardbody1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px;
    background: var(--bg-color);
    border-radius: 27px;
    padding: 5px;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.cardbody1 h3 {
    font-size: 25px;
    color: #846a38;
    margin-bottom: 10px;
}

.cardbody1 p2 {
    display: flex;
    font-size: 18px;
    float: left;
    margin-left: 10px;
}

.contact-info {
    list-style: none;
    padding: 30px 10px;
    margin: 10px 0;
}

.contact-info li {
    font-size: 18px;
    color: #403030;
    margin-bottom: 10px;
}









.footer{
    display: flex;
    background-color: #846a38;
    color:#403030;
    padding: 20px;
    gap: 70px;

}

.row1{
    display: flex;
    flex-direction: column;
     background: #846a38;
    color: white;
    width: 450px;
    flex-direction: column;
    text-decoration: none;
}

.row1 h1 {
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
}

.row1 p {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(350px, minmax(auto));
    margin-top: 2.3rem;
    gap: 2.3rem;
    color: white;
}


.row h1 {
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
}

.row p {
    color: white;
    padding: 0;
    margin: 0;
}

.row a {
    text-decoration: none;
    color: white;
}

.row ul{
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    color: white;
    text-decoration: none;
}

.row ul li {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.row ul li a {
    text-decoration: none;
    color: white;
}

.service{
    text-align: center;
    padding: 20px;
    background-color: #846a38;
}